//===============Fonts===============
$primaryFont: "dm Sans", sans-serif;
$secondaryFont: "Titan One", sans-serif;

//===============Colors===============

$neutralLightColor: #ffffff;
$neutralDarkColor: #000000;

$lightBacgroundColor: #fff5f6;
$midiumBacgroundColor: #ffb8ca;
$darkBacgroundColor: #e17992;

$accentColor: #ffa5ba;

$firstCardColor: #ffb8ca;
$secondCardColor: #f0d1a5;
$thirdCardColor: #c2e297;

$lightTextColor: #ffa5ba;
$midTextColor: #907e82;
$darkTextColor: #d41443;

$hoverBtnLightColor: #ecebeb;
$hoverBtnDarkColor: #c7133e;
